# Справочники TVI API
Пример ноутбука для работы со справочниками TV Index API.

* [Инициализация](#Инициализация)
* [Доступные атрибуты для параметров](#Доступные-атрибуты-для-параметров)
* [Социально-демографические переменные](#Социально-демографические-переменные)
* [Телеканалы](#Телеканалы)
* [Место просмотра](#Место-просмотра)
* [Временные интервалы](#Временные-интервалы)
* [Даты](#Даты)

## Инициализация

При построении отчета первый шаг в любом ноутбуке - загрузка библиотек, которые помогут обращаться к TVI API и работать с данными.

Выполните следующую ячейку, для этого перейдите в нее и нажмите Ctrl+Enter

In [3]:
%reload_ext autoreload
%autoreload 2

import sys
import os
import re
import json
import datetime
import time
import pandas as pd
from pathlib import Path
from IPython.display import JSON

from mediascope_api.core import net as msnet
from mediascope_api.mediavortex import catalogs as cwc
from mediascope_api.mediavortex import tasks as cwts


mnet = msnet.MediascopeApiNetwork()
cats = cwc.MediaVortexCats()

Запрошены записи: 0 - 257
Всего найдено записей: 257

## Доступные атрибуты для параметров

При формировании задания можно указать следующие параметры:

- **filters** - Фильтры
- **slices** - Срезы
- **statistics** - Статистики

Доступные атрибуты и допустимые для них значения можно получить методом `get_timeband_unit()`:

In [4]:
cats.get_timeband_unit()

{'statistics': ['Reach000',
  'ReachPer',
  'AvReach000',
  'AvReachPer',
  'Rtg000',
  'RtgPer',
  'TgAffinPer',
  'TAud',
  'ATV',
  'ATVReach',
  'Share',
  'Universe000',
  'Sample',
  'TTVRtg000',
  'TTVRtgPer',
  'TTVReach000',
  'TTVReachPer',
  'TTVAvReach000',
  'TTVAvReachPer',
  'TTVATV',
  'TTVATVReach'],
 'slices': ['researchDate',
  'researchWeek',
  'researchMonth',
  'researchQuarter',
  'researchYear',
  'researchHalfYear',
  'researchWeekDay',
  'researchDayType',
  'locationId',
  'locationName',
  'locationEName',
  'timeBand1',
  'timeBand5',
  'timeBand10',
  'timeBand15',
  'timeBand30',
  'timeBand60',
  'tvCompanyId',
  'tvCompanyName',
  'tvCompanyEName',
  'tvCompanyHoldingId',
  'tvCompanyHoldingName',
  'tvCompanyHoldingEName',
  'tvCompanyMediaHoldingId',
  'tvCompanyMediaHoldingName',
  'tvCompanyMediaHoldingEName',
  'tvNetId',
  'tvNetName',
  'tvNetEName',
  'sex',
  'age',
  'education',
  'work',
  'persNum',
  'spendingsOnFood',
  'tvNum',
  'ageGroup',
  'incomeGroupRussia',
  'housewife',
  'incomeEarner',
  'incLevel',
  'kidsNum',
  'kidsAge1',
  'kidsAge2',
  'kidsAge3',
  'kidsAge4',
  'kidsAge5',
  'kidsAge6',
  'kidsAge7',
  'status',
  'business',
  'enterprise',
  'property',
  'maritalStatus',
  'lifeCycle',
  'internet',
  'dacha',
  'federalOkrug',
  'incomeScale201401',
  'equipmentV2',
  'wghSuburbAgeGroup',
  'wghDachaTvExist',
  'smartTvYesNo',
  'wghVideoGameWoAge',
  'wghUsbTvHh',
  'cubeCity',
  'timezone0',
  'cube100Plus100Minus',
  'sputnikTv',
  'geoFrom082020'],
 'filters': ['researchDate',
  'researchWeek',
  'researchMonth',
  'researchQuarter',
  'researchYear',
  'researchHalfYear',
  'researchWeekDay',
  'researchDayType',
  'locationId',
  'timeBand1',
  'timeBand5',
  'timeBand10',
  'timeBand15',
  'timeBand30',
  'timeBand60',
  'tvCompanyId',
  'tvCompanyHoldingId',
  'tvCompanyMediaHoldingId',
  'tvNetId',
  'sex',
  'age',
  'education',
  'work',
  'persNum',
  'spendingsOnFood',
  'tvNum',
  'ageGroup',
  'incomeGroupRussia',
  'housewife',
  'incomeEarner',
  'incLevel',
  'kidsNum',
  'kidsAge1',
  'kidsAge2',
  'kidsAge3',
  'kidsAge4',
  'kidsAge5',
  'kidsAge6',
  'kidsAge7',
  'status',
  'business',
  'enterprise',
  'property',
  'maritalStatus',
  'lifeCycle',
  'internet',
  'dacha',
  'federalOkrug',
  'incomeScale201401',
  'equipmentV2',
  'wghSuburbAgeGroup',
  'wghDachaTvExist',
  'smartTvYesNo',
  'wghVideoGameWoAge',
  'wghUsbTvHh',
  'cubeCity',
  'timezone0',
  'cube100Plus100Minus',
  'sputnikTv',
  'geoFrom082020']}

## Социально-демографические переменные

In [5]:
# Получим список всех демографических переменных
cats.get_tv_demo_attribute()

Запрошены записи: 0 - 257
Всего найдено записей: 257

,id,valueId,name,colName,valueName
0,31,1,Дача,Dacha,Да
1,31,0,Дача,Dacha,Нет
2,108,1,Наличие дачи с ТВ,WghDachaTvExist,есть дача и есть ТВ на даче
3,108,2,Наличие дачи с ТВ,WghDachaTvExist,нет дачи или нет ТВ на даче
4,47,1,Доход шкала (с 2014),IncomeScale201401,0 - 5000
...,...,...,...,...,...
252,2,10,Возраст,Age,10
253,2,89,Возраст,Age,89
254,2,8,Возраст,Age,8
255,18,0,Возраст детей: 2-3 года,KidsAge4,Нет
256,18,1,Возраст детей: 2-3 года,KidsAge4,Да

In [6]:
# Так как по умолчанию в jupyter большие таблицы выводятся не полнотстью, 
# справочник можно экспортировать в Excel и работать с ним там

# Экспорт справочника в Excel. Файл сохраняется в директорию, в которой находится этот ноутбук.
demo_cat = cats.get_tv_demo_attribute()
writer = pd.ExcelWriter('demo_cat.xlsx')
demo_cat.to_excel(writer, 'demo_cat', index=False)
writer.save()

Запрошены записи: 0 - 257
Всего найдено записей: 257

In [7]:
# Получим список некоторых демографических переменных по названию
cats.get_tv_demo_attribute(names=['образование', 'занятость', 'Население 100+'])

Запрошены записи: 0 - 9
Всего найдено записей: 9

,id,valueId,name,colName,valueName
0,3,1,Образование,Education,начальное
1,3,2,Образование,Education,среднее
2,3,3,Образование,Education,высшее
3,3,99,Образование,Education,затрудняюсь ответить (з/о)
4,4,1,Занятость,Work,Работает полный день
5,4,3,Занятость,Work,Не работает
6,4,2,Занятость,Work,Работает неполный день
7,118,1,Население 100+,Cube100Plus100Minus,100+
8,118,2,Население 100+,Cube100Plus100Minus,100-

Демографические переменные, которые используются в заданиях, должны быть прописаны строго в следующем формате: 

__demoVariable__

То есть первая буква всегда строчная. Пример: __wghSuburbAgeGroup__

## Телеканалы

In [8]:
# Выведем справочник сетей
cats.get_tv_net()

Запрошены записи: 0 - 0
Всего найдено записей: 0

Empty DataFrame
Columns: []
Index: []

In [9]:
# Выведем справочник телекомпаний
cats.get_tv_company()

Запрошены записи: 0 - 48
Всего найдено записей: 48

,tvChannelId,tvNetId,regionId,tvCompanyGroupId,tvCompanyCategoryId,tvCompanyMediaType,tvCompanyHoldingId,tvCompanyMediaHoldingId,tvThematicId,isChannelTotal,isSetTotal,isThematicTotal,id,name,ename,status,information,monitoringType
0,797,258,99,0,0,T,0,1000034,6,True,True,False,1875,ЗВЕЗДА (СЕТЕВОЕ ВЕЩАНИЕ),ZVEZDA (NETWORK BROADCASTING),A,,M
1,7612,407,99,0,0,T,0,0,0,False,True,False,12319,OTHER TV SET (СЕТЕВОЕ ВЕЩАНИЕ),OTHER TV SET (NETWORK BROADCASTING),A,,M
2,5768,10,99,0,0,T,0,1000021,10,True,True,False,6859,МИР (СЕТЕВОЕ ВЕЩАНИЕ),MIR (NETWORK BROADCASTING),A,,M
3,5880,326,99,0,0,T,8,1000017,11,True,True,False,975,МАТЧ ТВ (СЕТЕВОЕ ВЕЩАНИЕ),MATCH TV (NETWORK BROADCASTING),A,,M
4,781,2,99,0,0,T,6,0,6,True,True,False,1859,РОССИЯ 1 (СЕТЕВОЕ ВЕЩАНИЕ),ROSSIYA 1 (NETWORK BROADCASTING),A,,M
5,6052,335,99,0,0,T,19,1000003,8,True,True,False,1830,DISCOVERY CHANNEL (ДО 31/12/2019) (СЕТЕВОЕ ВЕЩ...,DISCOVERY CHANNEL (TILL 31/12/2019) (NETWORK B...,A,,M
6,784,4,99,0,0,T,8,0,6,True,True,False,1862,НТВ (СЕТЕВОЕ ВЕЩАНИЕ),NTV (NETWORK BROADCASTING),A,,M
7,4085,84,99,0,0,T,0,1000007,6,True,True,False,5297,СОЛНЦЕ (СЕТЕВОЕ ВЕЩАНИЕ),SOLNTSE (NETWORK BROADCASTING),A,,M
8,8887,502,99,0,0,T,6,0,8,True,True,False,13285,СОЛОВЬЁВLIVE (СЕТЕВОЕ ВЕЩАНИЕ),SOLOVIEVLIVE (NETWORK BROADCASTING),A,,M
9,787,255,99,0,0,T,19,1000040,8,True,True,False,1865,ЧЕ (СЕТЕВОЕ ВЕЩАНИЕ),CHE (NETWORK BROADCASTING),A,,M
10,6613,376,99,0,0,T,8,1000017,8,True,True,False,7161,СУББОТА (СЕТЕВОЕ ВЕЩАНИЕ),SUBBOTA (NETWORK BROADCASTING),A,,M
11,788,210,99,1,1,T,0,0,2,True,True,False,1866,EURONEWS (СЕТЕВОЕ ВЕЩАНИЕ),EURONEWS (NETWORK BROADCASTING),A,,M
12,791,257,99,0,0,T,19,1000040,6,True,True,False,1869,ДОМАШНИЙ (СЕТЕВОЕ ВЕЩАНИЕ),DOMASHNIY (NETWORK BROADCASTING),A,,M
13,1537,286,99,0,0,T,8,1000017,8,True,True,False,2716,2X2 (СЕТЕВОЕ ВЕЩАНИЕ),2X2 (NETWORK BROADCASTING),A,,M
14,796,205,99,0,0,T,0,1000007,8,True,True,False,1874,Ю (СЕТЕВОЕ ВЕЩАНИЕ),U (NETWORK BROADCASTING),A,,M
15,5659,16,99,0,0,T,19,1000040,8,True,True,False,4536,СТС LOVE (СЕТЕВОЕ ВЕЩАНИЕ),STS LOVE (NETWORK BROADCASTING),A,,M
16,5518,40,99,0,0,T,6,0,1,True,True,False,6638,КАРУСЕЛЬ (СЕТЕВОЕ ВЕЩАНИЕ),KARUSEL (NETWORK BROADCASTING),A,,M
17,30000,303,99,0,0,T,0,0,0,True,True,False,30000,ДРУГОЕ (СЕТЕВОЕ ВЕЩАНИЕ),OTHER (Network broadcasting),A,,M
18,6143,356,99,0,0,T,6,1000037,1,True,True,False,2742,МУЛЬТ (СЕТЕВОЕ ВЕЩАНИЕ),MULT (NETWORK BROADCASTING),A,,M
19,789,11,99,0,0,T,19,1000040,8,True,True,False,1867,СТС (СЕТЕВОЕ ВЕЩАНИЕ),STS (NETWORK BROADCASTING),A,,M
20,11000,302,99,0,0,T,0,0,0,True,True,True,11000,ИЗМЕРЯЕМОЕ ТЕМАТИЧЕСКОЕ ТВ (СЕТЕВОЕ ВЕЩАНИЕ),MEASURED THEMATIC TV (Network broadcasting),A,,M
21,792,83,99,0,0,T,8,1000017,8,True,True,False,1870,ТНТ (СЕТЕВОЕ ВЕЩАНИЕ),TNT (NETWORK BROADCASTING),A,,M
22,793,204,99,0,0,T,8,1000017,8,True,True,False,1871,ПЯТНИЦА (СЕТЕВОЕ ВЕЩАНИЕ),FRIDAY (NETWORK BROADCASTING),A,,M
23,786,256,99,1,1,T,6,0,6,True,True,False,1864,РОССИЯ 2 (СЕТЕВОЕ ВЕЩАНИЕ),ROSSIYA 2 (NETWORK BROADCASTING),A,,M
24,5962,329,99,0,0,T,8,1000017,8,True,True,False,1335,ТНТ 4 (СЕТЕВОЕ ВЕЩАНИЕ),TNT 4 (NETWORK BROADCASTING),A,,M
25,6062,348,99,0,0,T,0,0,0,False,False,False,2036,ЕДИНЫЙ РЕКЛАМНЫЙ КАНАЛ (СЕТЕВОЕ ВЕЩАНИЕ),GENERAL AD CHANNEL (NETWORK BROADCASTING),A,,M
26,6070,348,99,0,0,T,0,0,0,False,False,False,2121,МУЖСКОЙ РЕКЛАМНЫЙ КАНАЛ (СЕТЕВОЕ ВЕЩАНИЕ),AD CHANNEL MALE (NETWORK BROADCASTING),A,,M
27,6071,348,99,0,0,T,0,0,0,False,False,False,2142,ЖЕНСКИЙ РЕКЛАМНЫЙ КАНАЛ (СЕТЕВОЕ ВЕЩАНИЕ),AD CHANNEL FEMALE (NETWORK BROADCASTING),A,,M
28,6625,348,99,0,0,T,0,0,0,False,False,False,7169,ДЕТСКИЙ РЕКЛАМНЫЙ КАНАЛ (СЕТЕВОЕ ВЕЩАНИЕ),AD CHANNEL CHILDREN'S (NETWORK BROADCASTING),A,,M
29,7721,348,99,0,0,T,0,0,0,False,False,False,12428,РЕКЛАМНЫЙ КАНАЛ ФЕНИКС (СЕТЕВОЕ ВЕЩАНИЕ),AD CHANNEL FENIKS (NETWORK BROADCASTING),A,,M
30,6624,348,99,0,0,T,0,0,0,False,False,False,7167,ЦИФРОВОЙ РЕКЛАМНЫЙ КАНАЛ МУЛЬТ ПЛЮС (СЕТЕВОЕ В...,DIGITAL AD CHANNEL MULT PLUS (NETWORK BROADCAST.),A,,M
31,8801,348,99,0,0,T,0,0,0,False,False,False,13199,РЕКЛАМНЫЙ КАНАЛ 1ТВЧ (СЕТЕВОЕ ВЕЩАНИЕ),AD CHANNEL 1TVCH (NETWORK BROADCASTING),A,,M
32,8304,430,99,0,0,T,0,0,10,True,True,False,12901,ОТР (ДО 31/12/2020) (СЕТЕВОЕ ВЕЩАНИЕ),OTR (TILL 31/12/2020) (NETWORK BROADCASTING),A,,M
33,785,13,99,0,0,T,6,0,6,True,True,False,1863,РОССИЯ К (СЕТЕВОЕ ВЕЩАНИЕ),ROSSIYA K (NETWORK BROADCASTING),A,,M
34,1040,270,99,0,0,T,7,0,4,True,True,False,2344,RU.TV (ДО 31/12/2020) (СЕТЕВОЕ ВЕЩАНИЕ),RU.TV (TILL 31/12/2020) (NETWORK BROADCASTING),A,,M
35,780,1,99,0,0,T,0,0,6,True,True,False,1858,ПЕРВЫЙ КАНАЛ (СЕТЕВОЕ ВЕЩАНИЕ),PERVY KANAL (NETWORK BROADCASTING),A,,M
36,783,12,99,0,0,T,0,0,6,True,True,False,1861,ТВ ЦЕНТР (СЕТЕВОЕ ВЕЩАНИЕ),TV TSENTR (NETWORK BROADCASTING),A,,M
37,782,260,99,0,0,T,6,0,2,True,True,False,1860,РОССИЯ 24 (СЕТЕВОЕ ВЕЩАНИЕ),ROSSIYA 24 (NETWORK BROADCASTING),A,,M
38,794,206,99,0,0,T,8,1000017,6,True,True,False,1872,ТВ-3 (СЕТЕВОЕ ВЕЩАНИЕ),TV-3 (NETWORK BROADCASTING),A,,M
39,4438,86,99,0,0,T,0,1000007,4,True,True,False,5673,МУЗ ТВ (СЕТЕВОЕ ВЕЩАНИЕ),MUZ TV (NETWORK BROADCASTING),A,,M
40,799,259,99,0,0,T,19,0,6,True,True,False,1877,ПЯТЫЙ КАНАЛ (СЕТЕВОЕ ВЕЩАНИЕ),PYATY KANAL (NETWORK BROADCASTING),A,,M
41,6077,340,99,0,0,T,0,1000039,3,True,True,False,2236,ДОМ КИНО (СЕТЕВОЕ ВЕЩАНИЕ),DOM KINO (NETWORK BROADCASTING),A,,M
42,6864,393,99,0,0,T,0,0,9,True,True,False,12169,СПАС (СЕТЕВОЕ ВЕЩАНИЕ),SPAS (NETWORK BROADCASTING),A,,M
43,795,60,99,0,0,T,19,0,6,True,True,False,1873,РЕН ТВ (СЕТЕВОЕ ВЕЩАНИЕ),REN TV (NETWORK BROADCASTING),A,,M
44,0,301,99,1,0,T,0,0,0,False,True,False,9997,ВИДЕО (СЕТЕВОЕ ВЕЩАНИЕ),VIDEO (NETWORK BROADCASTING),A,,M
45,11002,301,99,0,0,T,0,0,0,False,True,False,11002,ВИДЕОМАГНИТОФОН (СЕТЕВОЕ ВЕЩАНИЕ),VIDEORECODER (Network broadcasting),A,,M
46,11003,300,99,1,2,T,0,0,0,True,True,False,11003,ИЗМЕРЯЕМОЕ ЛОКАЛЬНОЕ ТВ (СЕТЕВОЕ ВЕЩАНИЕ),MEASURED LOCAL TV (Network broadcasting),A,,M
47,6723,384,99,0,0,T,0,0,2,True,True,False,12006,ЕВРОНОВОСТИ (СЕТЕВОЕ ВЕЩАНИЕ),EVRONOVOSTI (NETWORK BROADCASTING),A,,M

In [10]:
# Экспорт справочника в Excel. Файл сохраняется в директорию, в которой находится этот ноутбук.
comp_cat = cats.get_tv_company()
writer = pd.ExcelWriter('tvcomp_cat.xlsx')
comp_cat.to_excel(writer, 'tvcomp_cat', index=False)
writer.save()

Запрошены записи: 0 - 48
Всего найдено записей: 48

In [11]:
# Поиск по справочнику телекомпаний 
cats.get_tv_company(name=["росс"])

Запрошены записи: 0 - 4
Всего найдено записей: 4

,tvChannelId,tvNetId,regionId,tvCompanyGroupId,tvCompanyCategoryId,tvCompanyMediaType,tvCompanyHoldingId,tvCompanyMediaHoldingId,tvThematicId,isChannelTotal,isSetTotal,isThematicTotal,id,name,ename,status,information,monitoringType
0,781,2,99,0,0,T,6,0,6,True,True,False,1859,РОССИЯ 1 (СЕТЕВОЕ ВЕЩАНИЕ),ROSSIYA 1 (NETWORK BROADCASTING),A,,M
1,786,256,99,1,1,T,6,0,6,True,True,False,1864,РОССИЯ 2 (СЕТЕВОЕ ВЕЩАНИЕ),ROSSIYA 2 (NETWORK BROADCASTING),A,,M
2,785,13,99,0,0,T,6,0,6,True,True,False,1863,РОССИЯ К (СЕТЕВОЕ ВЕЩАНИЕ),ROSSIYA K (NETWORK BROADCASTING),A,,M
3,782,260,99,0,0,T,6,0,2,True,True,False,1860,РОССИЯ 24 (СЕТЕВОЕ ВЕЩАНИЕ),ROSSIYA 24 (NETWORK BROADCASTING),A,,M

In [12]:
# Справочник холдингов
cats.get_tv_company_holding()

Запрошены записи: 0 - 27
Всего найдено записей: 27

,id,name,ename
0,24,ГПМ РАДИО,GPM RADIO
1,12,КОНЦЕРН РАДИО-ЦЕНТР,CONCERN RADIO-CENTRE
2,10,KRUTOY MEDIA,KRUTOY MEDIA
3,16,ЛИДЕР СВЯЗИ,LIDER SVYAZI
4,28,M10 MEDIA,M10 MEDIA
5,21,"ДОРОЖНОЕ РАДИО, РАДИО ДЛЯ ДВОИХ, РАДИО ВАНЯ","DOROZHNOE RADIO, RADIO DLYA DVOIKH, RADIO VANYA"
6,23,ИЗЮМ,IZYUM
7,4,ВЕЩАТЕЛЬНАЯ КОРПОРАЦИЯ ПРОФ-МЕДИА,BROADCASTING CORPORATION PROF MEDIA
8,19,НАЦИОНАЛЬНАЯ МЕДИА ГРУППА,NATSIONALNAYA MEDIA GRUPPA
9,6,ВГТРК,VGTRK
10,5,NEWS MEDIA RADIO GROUP,NEWS MEDIA RADIO GROUP
11,11,РУМЕДИА,RUMEDIA
12,7,РУССКАЯ МЕДИА ГРУППА,RUSSIAN MEDIA GROUP
13,15,НОВОЕ ТЕЛЕВИДЕНИЕ КУБАНИ,NOVOE TELEVIDENIE KUBANI
14,14,МАКС МЕДИА ГРУПП,MAKS MEDIA GRUPP
15,3,ЕВРОПЕЙСКАЯ МЕДИА ГРУППА,EUROPA MEDIA GROUP
16,17,PMI RADIO,PMI RADIO
17,8,ГАЗПРОМ-МЕДИА,GAZPROM-MEDIA
18,13,МУЛЬТИМЕДИА ХОЛДИНГ,MULTIMEDIA HOLDING
19,26,"РАДИО ДЖАЗ, РАДИО КЛАССИК","Radio Dzhaz, Radio Klassik"
20,27,"РАДИО ДЛЯ ДВОИХ, РАДИО ВАНЯ, ПИТЕР FM","Radio Dlya Dvoikh, Radio Vanya, Piter Fm"
21,22,МОСКВА МЕДИА,MOSKVA MEDIA
22,0,N/A,N/A
23,20,СДС МЕДИА,SDS MEDIA
24,29,МИА РОССИЯ СЕГОДНЯ,MIA ROSSIYA SEGODNYA
25,25,"РАДИО ДЛЯ ДВОИХ, РАДИО ВАНЯ","Radio Dlya Dvoikh, Radio Vanya"
26,9,ARNOLD PRIZE,ARNOLD PRIZE

In [13]:
# Справочник медиахолдингов
cats.get_tv_company_media_holding()

Запрошены записи: 0 - 39
Всего найдено записей: 39

,id,name,ename
0,1000040,СТС-МЕДИА,STS-MEDIA
1,1000038,ZEE ENTERTAINMENT ENTERPRISRS Ltd.,ZEE ENTERTAINMENT ENTERPRISRS LTD.
2,1000039,ПЕРВЫЙ КАНАЛ. ВСЕМИРНАЯ СЕТЬ,PERVY KANAL. VSEMIRNAYA SET
3,1000024,НАЦИОНАЛЬНАЯ СПУТНИКОВАЯ КОМПАНИЯ,NATSIONALNAYA SPUTNIKOVAYA KOMPANIYA
4,1000025,НКС Медиа,NKS Media
5,1000033,ТОЧКА РОСЫ,TOCHKA ROSY
6,1000032,ТАЙМ МЕДИА ГРУПП,TAYM MEDIA GRUPP
7,1000017,ГАЗПРОМ-МЕДИА РАЗВЛЕКАТЕЛЬНОЕ ТЕЛЕВИДЕНИЕ,GAZPROM-MEDIA RAZVLEKATELNOE TELEVIDENIE
8,1000015,WARNER MEDIA,WARNER MEDIA
9,1000013,VIACOM,VIACOM
10,1000016,АМЕДИА ТВ,AMEDIA TV
11,1000021,МТРК МИР,MTRK MIR
12,1000030,СТАРТ МЕДИА,START MEDIA
13,1000034,ТРК ВС РФ ЗВЕЗДА,TRK VS RF ZVEZDA
14,1000002,BRIDGE MEDIA,BRIDGE MEDIA
15,1000009,MUSICBOX TV,MUSICBOX TV
16,1000029,РЕД МЕДИА,RED MEDIA
17,1000027,ПЕРВЫЙ ВЛОГЕРСКИЙ,PERVY VLOGERSKIY
18,1000001,A+E NETWORKS INTERNATIONAL Ltd.,A+E NETWORKS INTERNATIONAL Ltd.
19,1000006,LEOMAX,LEOMAX
20,1000036,ФЕНИКС Т,FENIKS T
21,1000007,MEDIA-1,MEDIA-1
22,1000018,ДИКОЕ ТВ,DIKOE TV
23,1000012,RTG CORP,RTG CORP
24,1000008,MGM STUDIOS Inc.,MGM STUDIOS Inc.
25,1000003,"DISCOVERY, Inc.","DISCOVERY, Inc."
26,1000023,МЭРИОРТ,MERIORT
27,1000035,УФАНЕТ,UFANET
28,1000014,VIASAT,VIASAT
29,1000019,МЕДИА МАРТ,MEDIA MART
30,1000026,НСК СТУДИЯ,NSK STUDIYA
31,1000004,FOX NETWORKS GROUP,FOX NETWORKS GROUP
32,1000011,NBC UNIVERSAL,NBC UNIVERSAL
33,1000022,МТС,MTS
34,1000020,МЕДИА ТЕЛЕКОМ,MEDIA TELEKOM
35,1000005,LAGARDERE GROUP,LAGARDERE GROUP
36,1000037,ЦИФРОВОЕ ТЕЛЕВИДЕНИЕ,TSIFROVOE TELEVIDENIE
37,1000028,ПЕРВЫЙ ТВЧ,PERVY TVCH
38,1000031,СТРИМ,STRIM

In [14]:
# Справочник жанров телекомпаний
cats.get_tv_company_thematic()

Запрошены записи: 0 - 17
Всего найдено записей: 17

    id                    name                   ename
0   10  Социально-политические  Социально-политические
1   14       Хобби и увлечения       Хобби и увлечения
2    2          Информационный          Информационный
3   16              Этнические              Этнические
4    4             Музыкальный             Музыкальный
5    3          Кино и сериалы          Кино и сериалы
6    9                 Религия                 Религия
7    5                 Новости                 Новости
8   13            Телемагазины            Телемагазины
9   12             Стиль жизни             Стиль жизни
10   1                 Детские                 Детские
11  15             Эротические             Эротические
12   6          Общего профиля          Общего профиля
13  11                   Спорт                   Спорт
14   0                     N/A                     N/A
15   7          Познавательные          Познавательные
16   8         Развлекательный         Развлекательный

## Место просмотра

In [15]:
# Справочник мест просмотра
cats.get_tv_location()

Запрошены записи: 0 - 2
Всего найдено записей: 2

   id  name  ename
0   2  Дача  Dacha
1   1   Дом   Home

## Временные интервалы

In [16]:
# получить справочник временных интервалов
cats.get_tv_time_band()

        value        name
0  timeBand30  timeBand30
1  timeBand60  timeBand60
2   timeBand1   timeBand1
3   timeBand5   timeBand5
4  timeBand10  timeBand10
5  timeBand15  timeBand15

## Даты

In [17]:
# дни недели
cats.get_tv_day_week()

Запрошены записи: 0 - 7
Всего найдено записей: 7

   id         name      ename
0   1  понедельник     monday
1   2      вторник    tuesday
2   3        среда  wednesday
3   4      четверг   thursday
4   5      пятница     friday
5   6      суббота   saturday
6   7  воскресение     sunday

In [18]:
# тип дня
cats.get_tv_research_day_type()

Запрошены записи: 0 - 4
Всего найдено записей: 4

  id              name            ename
0  W      рабочий день      working day
1  H  праздничный день   public holiday
2  E     выходной день          weekend
3  A       день траура  day of mourning

In [19]:
# получить календарь
cats.get_tv_calendar()

Запрошены записи: 0 - 10592
Всего найдено записей: 10592

     researchDate researchDayTypeId          id
0      2022-02-15                 W  2022-02-15
1      2022-02-20                 E  2022-02-20
2      2022-09-09                 W  2022-09-09
3      2023-02-19                 E  2023-02-19
4      2023-10-28                 E  2023-10-28
...           ...               ...         ...
9587   2021-03-27                 E  2021-03-27
9588   2014-12-31                 W  2014-12-31
9589   2023-06-09                 W  2023-06-09
9590   2023-06-27                 W  2023-06-27
9591   2023-07-07                 W  2023-07-07

[9592 rows x 3 columns]