# Несколько временных интервалов
Пример расчета показателей телеканала по временным интервалам.

## Описание задачи и условий расчета
- Период: 01.08.2022 - 31.08.2022
- Временной интервал: понедельник-пятница 19:00-23:00 и суббота-воскресенье 10:00-23:00
- ЦА: Все 10-45
- Место просмотра: Все места (дом+дача)
- Каналы: СТС									
- Статистики: Share

## Инициализация

При построении отчета первый шаг в любом ноутбуке - загрузка библиотек, которые помогут обращаться к TVI API и работать с данными.

Выполните следующую ячейку, для этого перейдите в нее и нажмите Ctrl+Enter

In [1]:
%reload_ext autoreload
%autoreload 2

import sys
import os
import re
import json
import datetime
import time
import pandas as pd
from IPython.display import JSON

from mediascope_api.core import net as mscore
from mediascope_api.mediavortex import tasks as cwt
from mediascope_api.mediavortex import catalogs as cwc

# Настраиваем отображение

# Включаем отображение всех колонок
pd.set_option('display.max_columns', None)
# Задаем максимальное количество выводимых строк. Раскомментируйте нужную строку
# 200 строк
# pd.set_option("display.max_rows", 200)
# Отображаем все строки. ВАЖНО! Отображение большого DataFrame требует много ресурсов
# pd.set_option("display.max_rows", None)

# Cоздаем объекты для работы с TVI API
mnet = mscore.MediascopeApiNetwork()
mtask = cwt.MediaVortexTask()
cats = cwc.MediaVortexCats()

Запрошены записи: 0 - 257
Всего найдено записей: 257

Запрошены записи: 0 - 257
Всего найдено записей: 257

## Справочники

In [2]:
# выберем телесети по имени (части имени)
cats.get_tv_net(name=["СТС"])

# далее в запросах будем использовать id телесетей.

Запрошены записи: 0 - 0
Всего найдено записей: 0

Empty DataFrame
Columns: []
Index: []

In [3]:
# Найдем названия нужных нам демографических переменных
cats.get_tv_demo_attribute(names=['возраст'])

Запрошены записи: 0 - 125
Всего найдено записей: 125

     id  valueId                      name   colName valueName
0     2       33                   Возраст       Age        33
1    16        1  Возраст детей: До 1 года  KidsAge2        Да
2    16        0  Возраст детей: До 1 года  KidsAge2       Нет
3    20        0   Возраст детей: 7-11 лет  KidsAge6       Нет
4    20        1   Возраст детей: 7-11 лет  KidsAge6        Да
..   ..      ...                       ...       ...       ...
120   2       10                   Возраст       Age        10
121   2       89                   Возраст       Age        89
122   2        8                   Возраст       Age         8
123  18        0   Возраст детей: 2-3 года  KidsAge4       Нет
124  18        1   Возраст детей: 2-3 года  KidsAge4        Да

[125 rows x 5 columns]

In [4]:
# найдем номера нужных дней недели
cats.get_tv_day_week()

Запрошены записи: 0 - 7
Всего найдено записей: 7

   id         name      ename
0   1  понедельник     monday
1   2      вторник    tuesday
2   3        среда  wednesday
3   4      четверг   thursday
4   5      пятница     friday
5   6      суббота   saturday
6   7  воскресение     sunday

## Формирование задания
Зададим условия расчета

In [5]:
# Период указывается в виде списка ('Начало', 'Конец'). 
date_filter = [('2022-08-01', '2022-08-31')]

# Задаем дни недели
weekday_filter = None

# Задаем тип дня
daytype_filter = None

# Задаем временной интервал
time_filter = None

# Задаем ЦА
basedemo_filter = 'age >= 10 AND age <= 45'

# Доп фильтр ЦА, нужен только в случае расчета отношения между ЦА, например, при расчете Affinity Index
targetdemo_filter = None

# Задаем место просмотра
location_filter = None

# Задаем каналы
company_filter = 'tvNetId IN (11)'

# Указываем список статистик для расчета
statistics = ['Share', 'Rtg000']

# Указываем срезы
slices = ['tvNetName']

# Задаем опции расчета
options = {
    "kitId": 1, #TV Index Russia all 
}

Рассмотрим возможности выбора временного интервала

In [6]:
# выбор полных суток (указываем полный диапазон или None)
# time_filter = 'timeBand1 >= 50000 AND timeBand1 < 290000'

# выбор слота с детализацией до минуты. В примере с 18 до 22 часов
# time_filter = 'timeBand1 >= 180000 AND timeBand1 < 220000'

# выбор комбинации день недели + слот (например, понедельник-пятница 19:00-23:00 + суббота-воскресенье 10:00-23:00)
# time_filter = 'timeBand1 >= 190000 AND timeBand1 < 230000'
# И одновременно задаем фильтр дня недели - с понедельника по пятницу
# weekday_filter = 'researchWeekDay IN (1, 2, 3, 4, 5)'

Зададим группы требуемых временных интервалов с днями недели

In [7]:
# Задаем необходимые группы
groups = {
    'понедельник-пятница 19:00-23:00':{
        "timeband":'timeBand1 >= 190000 AND timeBand1 < 230000',
        "weekday": 'researchWeekDay IN (1, 2, 3, 4, 5)'
    },
    'суббота-воскресенье 10:00-23:00':{
        "timeband":'timeBand1 >= 100000 AND timeBand1 < 230000',
        "weekday": 'researchWeekDay IN (6, 7)'
    }    
}

## Расчет задания

In [8]:
# Посчитаем задания в цикле
tasks = []
print("Отправляем задания на расчет")

# Для каждой группы формируем задания и отправляем на расчет
for group, logical in groups.items():
    
    # Формируем задание на расчет ЦА
    project_name = f"{group}" 
    time_filter = f"{logical['timeband']}"
    weekday_filter = f"{logical['weekday']}"
      
    # Формируем из указанных параметров задание для TVI API в формате JSON для каждого из этапов цикла
    task_json = mtask.build_task('timeband', task_name=project_name, date_filter=date_filter, 
                                 weekday_filter=weekday_filter, daytype_filter=daytype_filter, 
                                 company_filter=company_filter, time_filter=time_filter, 
                                 basedemo_filter=basedemo_filter, targetdemo_filter=targetdemo_filter,
                                 location_filter=location_filter, slices=slices, 
                                 statistics=statistics, options=options)

    # Для каждого этапа цикла формируем словарь с параметрами и отправленным заданием на расчет
    tsk = {}
    tsk['project_name'] = project_name    
    tsk['task'] = mtask.send_timeband_task(task_json)
    tasks.append(tsk)
    time.sleep(2)
    print('.', end = '')

print('')
# Ждем выполнения
print('Ждем выполнения')
tsks = mtask.wait_task(tasks)
print('Расчет завершен, получаем результат')

# Получаем результат
results = []
print('Собираем таблицу')
for t in tasks:
    tsk = t['task'] 
    df_result = mtask.result2table(mtask.get_result(tsk), project_name = t['project_name'])        
    results.append(df_result)
    print('.', end = '')
df = pd.concat(results)
df

Отправляем задания на расчет
..
Ждем выполнения
Расчет задач (2) [ = = = = = = = ] время расчета: 0:00:23.487047
Расчет завершен, получаем результат
Собираем таблицу
..

                          prj_name tvNetName      Share       Rtg000
0  понедельник-пятница 19:00-23:00       СТС  10.106353  1051.067646
0  суббота-воскресенье 10:00-23:00       СТС  10.205387   892.670174

Настраиваем внешний вид таблицы

In [9]:
df_res = pd.pivot_table(df, values=['Share'],
                        index=['prj_name'], 
                        columns=['tvNetName'])
df_res

                                     Share
tvNetName                              СТС
prj_name
понедельник-пятница 19:00-23:00  10.106353
суббота-воскресенье 10:00-23:00  10.205387

## Экспорт в Excel
По умолчанию файл сохраняется в директорию `mediascope-jupyter\mediascope-notebooks\excel`

In [10]:
writer = pd.ExcelWriter(mtask.task_builder.get_excel_filename('05_complex_timeband'))
df_info = mtask.task_builder.get_report_info()
df_res.to_excel(writer, 'Report', index=True)
df_info.to_excel(writer, 'Info', index=False)
writer.save()